
.u-columns{
    display: flex;
    flex-direction: row;

}
.u-column2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.u-column2 address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo .edit{
    text-align: right;
}

.sbtituloAdress{
    font-size: 24px;
    font-weight: bold;
}


.EnderecoColuna{
    display: flex ;
    justify-content:space-between;
}
.adressAdress{ 
    display: flex;
    inline-size: 150px;
    /* display: flex nowrap; */
    width: 100%;
    font-size: 18px; 
    align-self: center;
} 
.adressAdress p:first-child{
    color: #6A066D;
    font-size: 24px;
    margin: 1rem 1rem;
}
.adressAdress p:last-child{
    color:#6A066D;
    font-size: 24px;
    margin: 1rem 1rem;
}
.editButton{
    color: #09A7B1;
    font-size:24px;
    text-decoration: 2px underline !important;
}

