.container-form-pedidos{
    display: flex;
    flex-direction: row;
}
table{
    border: none !important;
}
table tr td{
    border: none !important;
}
thead tr th.product-name{
    display: none;
}
thead tr th.product-total{
    display: none;
}
#pedidosClasse{
    font-size:32px;
    margin: 2rem;
    text-transform: uppercase;
}
.containerBorda{
    width: 100%;
    background:black;
}
.cartBorder tr{
    border-top:1px solid black !important;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    font-weight: 700;

    border-top: 1px solid black !important;
}
.shipping{
    border:none;
}
#billing_company_field{
    display: none;
}
.woocommerce-billing-fields__field-wrapper p label{
    font-size: 24px;
    font-weight: 400;
}
.woocommerce-billing-fields__field-wrapper p span input{
    border: 0 !important;
    outline: none !important;
    background:transparent !important;
    border-bottom: 2px solid #6A066D !important;
    font-size: 20px;
}
.confirmOrder{
    font-size: 32px;
    font-weight:400;
    margin: 2rem;
    text-transform: uppercase;
}
.subInfOrder{
    font-size:32px;
    font-weight: 400;
    margin: 2rem;
}
.woocommerce-billing-fields__field-wrapper{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}
#mailpoet_woocommerce_checkout_optin_field{
    display: none
}
.woocommerce-checkout-review-order{
    float: none;
    margin-right: 5rem !important;
}
.place-order{
    background:transparent !important;
}
.areaButton{
    background:#E7FAFE !important;
}
.buttonCheckouConfirm{
    font-size: 24px !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    float: none !important;
}
.subtotal{
    border-top: 2px solid yellow !important;
}
table.woocommerce-checkout-review-order-table .cart_item{
    background:#FAFAFA !important;
    border: 3px solid rgba(185, 66, 189, 0.866) !important;
    box-sizing: border-box !important;
}
.cart_item td.product-name a{
    vertical-align: top;
    color: black;
    font-size: 15px;
}
.cart_item td.product-name strong.product-quantity{
    color:red;
    vertical-align: top;
}