.subtituloEditAdress{
    font-size: 24px;
    margin: 1rem 0;
    font-weight: 800;
}
.buttonAdress{
    background: #7E3481 !important;
    color: white !important;
    text-transform: uppercase;
    position: relative !important;
    left:50% !important;
    margin: 1rem 0;
}
.required{
    display: none;
}
#shipping_company_field{
    display: none;
}
.woocommerce-address-fields__field-wrapper p span input{
    background:transparent !important;
    border: 0;
    border-bottom:2px solid #6A066D;
}
.woocommerce-address-fields__field-wrapper p label{
    font-size:24px;
    font-weight:400;
}
.select2-search__field{
    outline: none !important;
    background:transparent !important;
}
.select2-search--dropdown{
    outline: none !important;
    background:transparent !important;
}
.select2-selection--single{
    outline:none !important;
    border: 0 !important;
    border-bottom:2px solid #6A066D !important;
    background:transparent !important;
}
.select2-search__field{
    background:transparent !important;
}
.select2-selection__arrow{
    display: none;
}