/* ver o butao e a barra de pesquisa e a lupa */
.header_container{
    background:#7A247D ;
    /* padding: 0.4rem; */
}
.header_container nav{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.container_img_logo a img{
    height: auto;
    width: 70%;
}
.img_carrinho{
    cursor: pointer;
}
.inputHeader{
    height:50%;
    width: 20%;
    align-self: center;
    border: 0;
    background-color: #7A247D;
    border-bottom: 2px solid #F5C661;
    outline: none;
    font-size:25px;
    color: #F5C661;
}
.inputHeader input{
    outline: none;
    background:transparent;
    border: 0;
    font-size: 20px;
    width: 100%;
    color: white;
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    }


.lupaImg{
    position: relative;
    right: 9%;
    top:33px; 
    height:0%;  
    border-bottom: 2px solid #F5C661;
}

.actions{
    display: flex;  
    flex-direction: row;
    justify-content:space-around ;
}

.btn_header{
    cursor: pointer;
    margin-top: 1.2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color:#000000;
    font-weight:bold;
    font-size: 20px;
    padding: 1rem;
    background: #F5C661;
    text-decoration: none;
    border: none;
}

header nav .actions a>img{
    height:100%;
    max-height: 40px;
    margin: 1rem 1rem;
}

/* CARRINHO */

.cardCarrinho{
    background: black;
    opacity: 0.5;
    width:100vw;
    height:100%;
    position: fixed;
    bottom:0;
    top: 0;
    z-index: 20;
}
.showCarrinho{
    padding: 2rem;
    background:#F5C661;
    width:40%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom:0;
    left: 60%;
    z-index:30;
    opacity: 1;
    overflow-y:scroll;
}

#tituloCarrinho{
    padding:1rem;
    font-size:32px;
    font-weight:400;
}

hr{
    border:1px solid #64066D;
}

#fechar{
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 70%;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
#fechar:hover{
    color: red;
    font-size: 20px;
}
.hidden{
    display: none;
}

#comprar-carrinho{
    color: white;
    text-decoration: none;
    padding:1rem;
    font-size: 24px;
    background:#64066D;
    position: relative;
    left: 40%;
    margin-bottom: 10rem;
}

#comprar-carrinho:visited{
    color:white;
}

#mostrar-total{
    font-size: 18px;
}

.valorDoProduto{
    text-align: center;
    width: 10%;
    border: 1px solid #333333;
    background: #E7FAFE;
}

.addValue{
    border: 1px solid #333333;
    background: #E7FAFE;
}
.removeValue{
    border: 1px solid #333333;
    background:#E7FAFE;
}


/*CSS TESTE*/


 .produto-carrinho{
    display: flex;
    flex-direction: row;
    background: #D7F6FD;
    margin: 1rem 0;
}

.produto-carrinho .product-price-carrinho{
    font-size: 16px;
    align-self: flex-end;
    padding-bottom: 0.5rem;
}

.produto-carrinho img{
    width:150px;
    height: 150px;
    transition:all .2s ease-in-out;
}
.produto-carrinho img:hover{
    transform:scale(1.1);
}

.container-button-quantity {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
} 

 .infos-produto-carrinho{
    padding: 0.5rem 0 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos-produto-carrinho p {
    font-size: 20px;
    font-weight: normal;

}

.container-button-quantity button{
    width: 20px;
    height: 20px;
    background:#D7F6FD;
    border: 1px solid black;
    color: black;
    margin: 0;
    padding: 0;
}

/* .container-button-quantity button:hover{
    width: 30px;
} */

.container-button-quantity input{
    width:20px;
    /* height: 20px; */
    border: 1px solid black;
    outline: 0;
}  