.contentListProducts{
    background: #E7FAFE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.contentListProducts h1{
    text-transform: uppercase;
    font-size:32px;
    width:85%;
    margin:0  auto;
    font-weight: 400;
    padding:2rem;
}
.categoriasProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.categoriasProducts .categoriasListProductsImg {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    height: 200px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* transition:all .1s ease-in-out; */
}

.categoriasProducts .categoriasListProductsImg:hover{

    border: 3px solid #39c8cd; 
}

.categoriasListProductsLink{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    text-align: left;
    color: white;
    padding:1rem;
}
.categoriasListProductsLink a{
    text-decoration: none;
    padding:0 ;
    margin:0 ;
}
/* .categoriasListProductsLink a{
    color: white;
} */

.conteinerListText .pratosList{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}



/*Produtos*/
.allProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:0px;
    grid-row-gap:0px;
    padding:0;
    /* margin-left: 0 auto; */
}
.img-Produtos{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* width: 20vw; */
    margin:0;
    height:20vh;
    /* margin:2rem; */
}
.container-infos-lp{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    /* text-align: left; */
}
.container-infos-lp p{
    position: relative;
    top: 40%;
    /* text-align: left; */
    left: 5%;
    font-size: 25px;
    color: snow;
}
.container-infos-lp a img{
    float:right;
}

.img-Produtos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div.contentListProducts div.procurar form{
    display: flex !important;
    flex-direction: column !important;
    margin:1rem 3rem !important;
    padding: 0.3rem !important;
}
div.contentListProducts div.procurar form label{
    margin: 0 0.3rem;
    font-size:20px ;
}
.orderby{
    background: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #6A066D !important;
    font-size: 20px;
    outline:none;
}
div.contentListProducts div.procurar form input{
    border: 0 !important;
    outline:none !important;
    width: max-content;
    font-size: 20px;
    background:transparent;
    border-bottom: 2px solid #6A066D !important;
}
.ordenacaoTotal{
    display:flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content:left;
    margin: 0 2rem;
    padding:1rem;
}
.filtroPrice{
    font-size:20px;
    padding:0.3rem;
}
.ordenacaoPrice{
    margin: 0 auto;
}
.ordenacaoPrice label{
    font-size:20px ;
}
.ordenacaoPrice input{
    border: 0 !important;
    font-size: 20px;
    outline:none;
    border-bottom: 2px solid #6A066D !important;
    background:transparent;
}
/*Produtos Shops*/
/* .products{
    display: none;
} */
/* form.woocommerce-product-search button{
    display: none;
} */
.price_slider_amount button{
    display: none;
}
.pratosList{
    margin: 1rem 3.5rem;
}
search-field{
    border: 0 !important;
    background: transparent !important;
}


/*SHOP LOOP*/

.woocommerce-result-count{
    display: none;
}
div.contentListProducts{
    float: none !important;
}
div.container_shopLoop ul{
    float: none !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5rem;
}
div.contentListProducts div.container_shopLoop ul li a img{
    cursor: pointer;
    width: 240px;
    height: 373px;
    transition:all .2s ease-in-out;
}
div.contentListProducts div.container_shopLoop ul li{
    width: max-content;
    margin:1rem 0;
}
div.contentListProducts div.container_shopLoop ul li a img:hover{
    border: 2px dotted #39c8cd;
    transform: scaleX(1.1);
    height:400px;
}
div.contentListProducts div.container_shopLoop ul li a h2{
    color: snow;
    font-size: 22px;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}
div.contentListProducts div.container_shopLoop ul li a span{
    color: snow;
    font-size: 22px;

} 
.backPrice{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
}
.container_TitlePrice{
   position: relative;
   top: -10%;
   transition:2s;
}




/* div.contentListProducts ul.columns-4{ */
    /* float:none !important;
    display: grid; */
    /* display: flex; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:0px 40px;
    grid-row-gap:0px; 
    padding: 0; */
    /* margin: 1rem 1rem 1rem 1rem; */
    /* margin: 1rem auto; */
    /* padding:1rem auto; */
    /* flex-direction: row;*/
    /* justify-content:space-around;
    flex-wrap: wrap;  */
/* } */

/* .attachment-woocommerce_thumbnail { */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position:center; */
    /* width: 20vw;
    margin:0;
    height:20vh;
} */
/* .attachment-woocommerce_thumbnail:hover {
    border:2px solid greenyellow;
} */
.add_to_cart_button{
    display: none;
}

/* .woocommerce-loop-product__title{
    position: relative;
    top: -43px;
    background:linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);;
    color: white;
    font-size: 20px;
} */
/* .price{
    position: relative;
    color: white;
    font-size: 20px;
    top: -43px;
    background:linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
} */

.cartProduct img{
    
    height:35px;
    width:30px ;
}
.cartProduct{
    position: relative;
    float:right;
    top: -43px;
    right: 1%;
    background: #F5C661;
    width: max-content;
    padding:0.1rem;
}