*{
    font-family: 'Roboto', sans-serif;
}
.divPrincipal{
    text-align: center;
    background: #7A247D ;
    color: #F5C661;
    padding: 5rem;
}
.divPrincipal h1{
    font-style: normal;
    font-weight: bold;
    font-size:48px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    padding:2rem;
}
.divPrincipal p{
    font-size:26px;
    color: #FAFAFA;
    padding-bottom: 3rem;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.categorias .categoriasImg{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    height: 200px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.categorias .categoriasImg:hover{
    border: 3px solid #39c8cd; ;
}
.mainPratos{
    width:83%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 24px;
    font-weight: 400;
}

.categoriasLink{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    text-align: left;
    padding:1rem;
}

.categoriasLink a{
    text-decoration: none;
    color: white;
    padding:0 ;
    margin:0 ;
}
.categoriasLink a{
    color: white;
}

.ContentPrincipal h1{
    text-align: center;
    font-size: 32px;
    color:#333333;
    font-weight: 400;
    padding: 3rem;
}



.ContentPrincipal{
    background:  #E7FAFE;;
}
.containerText{
    font-size: 24px;
    color: black;
    margin: 0.2rem auto;
    padding:2rem;
}



.pratos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 0 auto;
}

.pratos .prato-atual{
    width: 240px;
    height:373px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .2s;
}

.prato-atual:hover{
    border: 4px solid greenyellow;
    transform:scale(1.2);
}
.prato-atual .container-infos {
    padding: 0.6rem;
    height: 40%;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.prato-atual .container-infos p{
    font-size: 20px;
    color: snow;
}

.container-infos a img{
    width: 35px;
    height: 35px;
    padding: 0.2rem;
    float: right;
    background: #F5C661;
    border: 0.8px solid black;
}

.buttonOptions{
    margin: 0 auto;
    border: 0;
    text-decoration: none;
    background:#F5C661;
    padding: 1rem;
    display: block;
    text-align: center;
    width: max-content;
    font-weight: bold;
    color: black;
}
.buttonOptions:visited{
    color:black;
}

.containerButton{
    padding:2rem;
    padding-bottom:2rem;
}

.footerStyle h1{
    
    padding: 1.5rem;
    text-align:center;
    color: #FAFAFA;
    font-size: 32px;
}

.inf{
    display: flex;
    flex-direction: column;
    padding:2rem;
}
.footerStyle{
    background: #7A247D;
    align-items: center;
}   

.imagemAdress{
    height:20px;
}
.footerStyle p{
    padding:0.7rem;
}






/* SLIDER */
.slider {
    display: block;
    height: 293px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    top: -330px;
    left: 100px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 500px;
    width: 700px;
    vertical-align: top;
}
.slider input {
    display: none;
}

.slider label {
    background-color: black;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

