.woocommerce-order-details .tituloViewOrder{
    font-size:32px !important;
    font-weight:400;
}
.woocommerce-MyAccount-content .order-number, .order-date, .order-status{
    background-color:transparent !important;
}
.woocommerce-table__product-total .product-total{
    display:none;
}
.titleAdressEntrega{
    font-size: 26px;
    font-weight: 400;
}
.addressViewOrder{
    border: none !important;
}
.woocommerce-customer-details--phone::before{
    content:"" !important;}
.woocommerce-customer-details--phone,.woocommerce-customer-details--email{
    padding:0 !important;
}
.woocommerce-customer-details--email::before{
    content:"" !important
}
.woocommerce-customer-details--email{
margin:0 !important;}

.tabelaViewOrder tfoot{
    display:flex;
    flex-direction:row;
    /* justify-content: flex-end; */
}
.tabelaViewOrder tfoot tr:nth-child(2){
    position: relative;
    left:30%;
    top: -10vh;
}
.tabelaViewOrder tfoot tr th{
    border: 0 !important;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border: 0 !important;
}

.tabelaViewOrder tfoot tr:nth-child(1){
    display:flex;
    flex-direction:column;
}
.tabelaViewOrder tfoot tr:nth-child(2){
    display:flex;
    flex-direction:column;
}
.tabelaViewOrder tfoot tr td{
    font-weight:normal !important;
}

.tabelaViewOrder tfoot tr:nth-child(3){
    display:flex;
    flex-direction:column;
}
.tabelaViewOrder tfoot tr span:nth-child(1)::before{
    content:"R$"
}
.tabelaViewOrder tfoot tr span{
    font-weight: normal !important;
}



/* .tabelaViewOrder tfoot tr:nth-child(2){
    
} */
